body {
  font-family: "Open Sans", sans-serif;
  background-color: #1A1F35;
  color: floralwhite; 
}

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 80px;
  padding: 20px;
  margin: 0;
}

h2 {
  padding-bottom: 20px;
}

ul {
  padding: 0;
  margin: 0;

}

li {
  list-style: none;
  color: white; 
}

.main {
  display: grid;
  grid-template-areas: "sidebar content" "footer footer" ;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 1fr 60px;
  align-content: space-between;
  column-gap: 5px;
  align-items: baseline;
  justify-items: baseline;
  height: calc(100% - 100px);
  padding-top: 30px;
  
}

/* Top Bar */

.navbar {
  display: block;
  color: white;
  background-color: #1A1F35;
  margin: 0 auto;
  font-size: larger;
  border-bottom: 1px solid thistle;
  
}

/* Nav Bar Vertical  */

.sidebar {
  color: whitesmoke; 
  display: block;
  flex-direction: column;
  justify-content: space-between;
  grid-area: sidebar;
  padding: 10px 5px;
  font-size: larger;
  background-color: #1A1F35 ;
  height: 100%;
  
}

.nav-link {
   display: flex;
   color: white; 
   flex-direction: column;
   justify-content: space-between; 
font-weight: 500;
   padding: 15px; 
   margin: 5px; 

}


.nav-item .nav-link:hover {
border-left: 5px solid #F0C808;
color: white; 
text-decoration: none;
}




/* Main Content Section */

.main-content {
  grid-area: content;
  display: block;
  padding: 10px;
  height: 100%;
  
  
}

#overview {

  display: block;
  padding: 20px; 
  margin-top: 10px;
  width: 700px; 
  word-wrap: normal;
  font-size: 1.5em;

}


.apitable {

  display: none;
  table-layout: fixed;
  border: 2px dashed whitesmoke;
  padding: 20px; 
  margin: 0px auto; 
  width: fit-content;
  border: 2px dashed whitesmoke; 
  grid-area: apitable; 



}


th {
 
  border: 1px dashed whitesmoke;
  color: black; 
  padding: 20px; 
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  background-color: #F0C808;
  text-transform: capitalize;
}

td {
 
  border: 1px dashed whitesmoke; 
  padding: 10px; 
  word-wrap: normal;
 

 

}

pre {
  margin: 0; 
  padding: 0; 
}

tr {

  height: 30px;

 
}




.footer {
    background-color: #1A1F35;
    color: white; 
    padding: 20px;
    margin-top: 20px;
    grid-area: footer; 
}